<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lowest Rated Parking Lots">
        <title>Lowest Rated Parking Lots</title>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        <!--Load Babel-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
        <!-- Load React -->
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <!-- React Router Dom -->
        <script src='https://unpkg.com/react-router@5.2.0/umd/react-router.min.js'></script>
        <script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script>


        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div id="app"></div>
        
        <!-- App.jsx import -->
        <script type="text/jsx" src="/static/js/App.jsx"></script>
    </body>
</html>